.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 33rem;
    height: 34.3rem;
    background: var(--white-);
    padding: 0.938rem;
    border-radius: 10px;
}