.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 33rem;
    height: 34.3rem;
    background: var(--white-);
    padding: 0.938rem;
    border-radius: 10px;
}
.containerInputAdd{
    display: flex;
    align-items: center;
    gap: 12px;
}
.buttonAddTask{
    padding: 5px;
    background-color: var(--blue-300);
    color: var(--white-);
}
@media (max-width: 558px){
    .box{
        margin: 0 15px;
    }
}